In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('data/cleaned/papers_by_topic_no_outliers.parquet')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121391 entries, 0 to 121390
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 121391 non-null  object
 1   title              121391 non-null  object
 2   categories         121391 non-null  object
 3   abstract           121391 non-null  object
 4   update_date        121391 non-null  object
 5   authors_parsed     121391 non-null  object
 6   topic              121391 non-null  int64
 7   short_label        121391 non-null  object
 8   descriptive_label  121391 non-null  object
dtypes: int64(1), object(8)
memory usage: 8.3+ MB

In [4]:
df['update_date'].head(10)

0    2021-05-24
1    2022-03-21
2    2022-12-22
3    2021-10-05
4    2024-08-29
5    2020-01-03
6    2020-07-30
7    2020-01-30
8    2021-11-02
9    2020-05-04
Name: update_date, dtype: object

In [6]:
from datetime import datetime

In [11]:
df['date'] = pd.to_datetime(df['update_date'], format='%Y-%m-%d')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121391 entries, 0 to 121390
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 121391 non-null  object
 1   title              121391 non-null  object
 2   categories         121391 non-null  object
 3   abstract           121391 non-null  object
 4   update_date        121391 non-null  object
 5   authors_parsed     121391 non-null  object
 6   topic              121391 non-null  int64
 7   short_label        121391 non-null  object
 8   descriptive_label  121391 non-null  object
 9   date               121391 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 9.3+ MB

In [13]:
author_cols = ['id','topic','title','authors_parsed','date']
df = df[author_cols]

In [16]:
df['year'] = df['date'].dt.year
df['quarter'] = df['date'].dt.quarter

,id,topic,title,authors_parsed,date,year,quarter
308,1201.4055,0,Geometric approach to nonvariational singular ...,"[['Araújo', 'Damião', ''], ['Teixeira', 'Eduar...",2020-01-06,2020,1
651,1305.5098,0,Perturbations of local maxima and comparison p...,"[['Feehan', 'Paul M. N.', '']]",2020-04-24,2020,2
759,1310.2752,0,Global Calder\`on & Zygmund theory for nonline...,"[['Bögelein', 'Verena', '']]",2024-06-05,2024,2
806,1311.3233,0,Combination and mean width rearrangements of s...,"[['Salani', 'Paolo', '']]",2021-03-29,2021,1
860,1401.1355,0,A topological approach to the existence and mu...,"[['Infante', 'Gennaro', ''], ['Maciejewski', '...",2021-02-09,2021,1

In [31]:
df.to_csv('data/cleaned/author_topic_networks.csv')

In [26]:
import networkx as nx

In [32]:
import pandas as pd

sample_df = pd.read_csv('results/network_analysis/exports/network_analysis_summary_20250523_160318.csv')

In [33]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   topic_id                 1 non-null      int64
 1   total_papers             1 non-null      int64
 2   collab_papers            1 non-null      int64
 3   unique_authors           1 non-null      int64
 4   collaboration_edges      1 non-null      int64
 5   network_density          1 non-null      float64
 6   largest_component_size   1 non-null      int64
 7   num_components           1 non-null      int64
 8   most_productive_author   1 non-null      object
 9   max_author_papers        1 non-null      int64
 10  strongest_collab_weight  1 non-null      int64
 11  quarters_active          1 non-null      int64
 12  first_quarter            1 non-null      object
 13  last_quarter             1 non-null      object
 14  peak_quarter             1 non-null      object
 15  peak_quarter_papers      1 non-null      int64
 16  analysis_timestamp       1 non-null      object
dtypes: float64(1), int64(11), object(5)
memory usage: 268.0+ bytes

In [34]:
sample_df

,topic_id,total_papers,collab_papers,unique_authors,collaboration_edges,network_density,largest_component_size,num_components,most_productive_author,max_author_papers,strongest_collab_weight,quarters_active,first_quarter,last_quarter,peak_quarter,peak_quarter_papers,analysis_timestamp
0,0,1760,1760,2071,2991,0.001395,1095,325,Dušan D. Repovš,33,13,22,2020-Q1,2025-Q2,2024-Q4,128,2025-05-23T16:03:18.224788